
#chart {
  width: 960px;
  height: 500px;
  background: #ddd;
}

text {
  fill: white;
  font-size: 10px;
  pointer-events: none;
}

.grandparent text {
  font-weight: bold;
}

rect {
  fill: rgba(0,0,0,0.4);
  stroke: #fff;
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

.grandparent rect {
  fill: rgba(0,0,0,0.8);
}

.grandparent:hover rect {
  fill: rgba(0,0,0,0.6);
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children rect.parent {
  fill: #bbb;
  fill-opacity: .5;
}

.children:hover rect.child {
  fill: #bbb;
}