
#chart {
  width: 960px;
  height: 500px;
  background: #ddd;
}

text {
  fill: white;
  font-size: 10px;
  pointer-events: none;
}

/*.grandparent text {
  font-weight: bold;
}*/

rect {
  stroke: #fff;
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

.grandparent rect {
  fill: #000;
}

/*.grandparent:hover rect {
  fill: #333;
}*/

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children:hover rect.child {
  opacity: 0.8;
}