
text {
  fill: #fff;
  font-size: 10px;
  pointer-events: none;
}

rect {
  stroke: #aaa;
}

rect.parent, .grandparent rect {
  stroke-width: 2px;
}

.grandparent rect {
  fill: #000;
}

.children rect.parent, .grandparent rect {
  cursor: pointer;
}

.children:hover rect.child {
  opacity: 0.8;
}
